.idea/
.venv/
venv/
/quantitave_analysis/scripts/__pycache__/zip_manager_check.cpython-312.pyc
/quantitave_analysis/utils/__pycache__/__init__.cpython-312.pyc
/quantitave_analysis/utils/__pycache__/zip_manager.cpython-312.pyc
/quantitave_analysis/utils/__pycache__/file_converter.cpython-312.pyc
/quantitave_analysis/utils/__pycache__/image_processing.cpython-312.pyc
/quantitave_analysis/__pycache__/config.cpython-312.pyc
/quantitave_analysis/scripts/__pycache__/test_converter.cpython-312.pyc
/quantitave_analysis/__pycache__/test_txt_to_bbox.cpython-312.pyc
/quantitave_analysis/__pycache__/txt_bbox.cpython-312.pyc
/quantitave_analysis/__pycache__/digital_assistant_base.cpython-312.pyc
/quantitave_analysis/augmentations/__pycache__/
/quantitave_analysis/scripts/__pycache__
/quantitave_analysis/utils/__pycache__
/quantitave_analysis/tests/data/converted
/quantitave_analysis/processed
/quantitave_analysis/data
__pycache__
/quantitave_analysis/augmentations/data
/quantitave_analysis/tmp
/isolated_train_and_inference
